# IntelliJ
.idea
*.iml
out
gen

# Data files
/input
/output
/dataset

# Weight files
/saved_models

# Logs
/logs
/.cadence
/flagged

# weights
weights/SwinT

# data
data/test
data/train
data/val

# DS_Store
.DS_Store

__pycache__

